.cor-nav-d{
    background-color: black;
    height: 250px;
    background: url(../img/imgd.capa10.png);
}

.direitad{
    margin-left: auto;
  
}

.direitad a{
    display:block;
    color:yellow;
    font-size: 1.3em;
    border: 3px solid #ffffffa7;
    margin: 0 10px 0 0 ;
    border-radius: 1em;
    background-color: rgba(0, 123, 255, 0.588);
    
}


.container-dra{
    background: url(../img/dra1.jpg);
}

.cor-drand{
    color: #ecf80e;
    margin-left: 10px;
    margin-bottom: 5px;
  
}

.cor-z{
    color: orange;
  font-size: 2em;
}


 .card.cor-card{
    background-color: rgba(180, 233, 81, 0.363);
    color: #fff;
    font-size: 25.7px;
}

#footer-dra{
   background-color: rgba(245, 253, 20, 0.488);
    color:#fff;
}

.footer-link a{
    font-size: 3em;
    margin: 0 10px 0 0 ;
}

.paw{
    color: rgb(101, 239, 120);
    font-size: 1.4em;
}

.niveis{
border-bottom: 2px solid #ecf80e3c;
color: #ecf80e;
}

.bi-instagram{
    color: orangered;
}

.bi-whatsapp{
    color: green;
}

.bi-telegram{
    color: blue;
}